./bedrock-python-sdk/boto3-1.26.142-py3-none-any.whl
./bedrock-python-sdk/botocore-1.29.142-py3-none-any.whl
langchain==0.0.207
colorama==0.4.4
Flask==2.3.2
fastapi==0.97.0
uvicorn==0.22.0
openai==0.27.8
tiktoken==0.4.0
anthropic==0.2.10